@defer{
<section>
  <div class="movie">
    <div class="bgimage">
      <img
        [src]="imageurl + content.backdrop_path"
        [alt]="content.name || content.title"
      />
      
    </div>

    <div class="poster">
      <img
        [src]="imageurl + content.poster_path"
        [alt]="content.name || content.title"
      />
    </div>
    <div class="movie-details">
      <h2>{{ content.name || content.title }}</h2>
      <div class="genres">
        @for (genres of content.genres; track genres;) {
        <span>{{ genres.name }},</span>
        }
      </div>
      <button (click)="playTrailer()">
        <span>
          <svg
            width="25px"
            height="25px"
            viewBox="0 0 72.00 72.00"
            id="emoji"
            xmlns="http://www.w3.org/2000/svg"
            fill="#ffffff"
            stroke="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke="#CCCCCC"
              stroke-width="0.43200000000000005"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="color"></g>
              <g id="hair"></g>
              <g id="skin"></g>
              <g id="skin-shadow"></g>
              <g id="line">
                <path
                  fill="none"
                  stroke="#ffffff"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="3.6"
                  d="M19.5816,55.6062 c0.4848,0.1782,1.0303,0.297,1.5758,0.297c0.8485,0,1.697-0.297,2.4242-0.7722l30-15.9793l0.303-0.297 c0.7879-0.7722,1.2121-1.7227,1.2121-2.7919c0-1.0692-0.4242-2.0791-1.2121-2.7919l-0.303-0.297l-30-16.0981 c-1.0909-0.8316-2.6667-1.0098-4-0.4752c-1.5152,0.594-2.4848,2.0791-2.4848,3.683v31.8397 C17.0967,53.5272,18.0664,55.0122,19.5816,55.6062z"
                ></path>
              </g>
            </g>
          </svg>
        </span>
        play
      </button>
      <div class="overview">
        <span>overview</span>
        <p>
          {{ content.overview }}
        </p>
      </div>
    </div>
  </div>

  <div class="movie-slider">
    <h2>cast</h2>
    <div class="scroller">
      @for (actor of actors; track actor;) {
      <div class="card">
        <div class="image">
          <img [src]="imageurl + actor.profile_path" [alt]="actor.name"/>
        </div>
        <div class="movie-title">
          <p>{{ actor.name }}</p>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="hr-line"></div>
  <div class="movie-slider">
    <h2>videos</h2>
    <div class="scroller">
      @for (video of videos; track video;) {
      <div class="card media">
        <div class="image">
         <button (click)="playVideo(video.key)">
        <span>
          <svg
            width="25px"
            height="25px"
            viewBox="0 0 72.00 72.00"
            id="emoji"
            xmlns="http://www.w3.org/2000/svg"
            fill="#ffffff"
            stroke="#ffffff"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke="#CCCCCC"
              stroke-width="0.43200000000000005"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <g id="color"></g>
              <g id="hair"></g>
              <g id="skin"></g>
              <g id="skin-shadow"></g>
              <g id="line">
                <path
                  fill="none"
                  stroke="#ffffff"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="3.6"
                  d="M19.5816,55.6062 c0.4848,0.1782,1.0303,0.297,1.5758,0.297c0.8485,0,1.697-0.297,2.4242-0.7722l30-15.9793l0.303-0.297 c0.7879-0.7722,1.2121-1.7227,1.2121-2.7919c0-1.0692-0.4242-2.0791-1.2121-2.7919l-0.303-0.297l-30-16.0981 c-1.0909-0.8316-2.6667-1.0098-4-0.4752c-1.5152,0.594-2.4848,2.0791-2.4848,3.683v31.8397 C17.0967,53.5272,18.0664,55.0122,19.5816,55.6062z"
                ></path>
              </g>
            </g>
          </svg>
        </span>
        play
      </button>
            <img [src]="videourl1+video.key+videourl2" [alt]="video.name">
        </div>
        <div class="movie-title">
          <p>{{ video.name }} </p>
          <span>{{ video.type }}</span>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="hr-line"></div>

  <div class="movie-slider">
    <h2>suggestions for you</h2>
    <div class="scroller">
      @for (suggestion of recommentations; track suggestion;) {
      <div class="card suggestion" (click)="getMovie(suggestion.media_type,suggestion.id)">
        <div class="image">
          <img
            [src]="imageurl + suggestion.poster_path"
            [alt]="suggestion.name || suggestion.title"
          />
        </div>
        <div class="movie-title">
          <p>{{ suggestion.name || suggestion.title }}</p>
          <span>{{
            suggestion.release_date || suggestion.first_air_date
          }}</span>
        </div>
      </div>
      } @empty {
      <p>*no recommentations</p>
      }
    </div>
  </div>
</section>
}
@loading(minimum 250ms){
<app-loading></app-loading>
}
